/* mine gfarver for projektet*/
:root {
    --primary-color: #FCF9F4;
    --secondary-color: #E6DDCA;
    --tertiary-color:  #000000;
    --quarternary-color: #AAC1C7;
    --font-set: Magilio;
    
}

body{
    
    margin: 0;
    background-color: var(--primary-color);
    font-family: var(--font-set);
    padding: 0;
}

.navigation{
    background-color: transparent;
    width: 300%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    top: 0;
}
.nav-ul{
    list-style: none;
    display: flex;
    justify-content: center;
    
}


